
   
:root {
    --primary-color: rgb(194, 208, 255);
    --secondary-color: rgb(57, 60, 65);
    --tertiary-color: rgb(3, 25, 99);
    }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*******   Type Selectors     *****/
  body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
  }
  /* Flexbox header styling */
  header {
    align-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
  }
  header h1 {
    align-content: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.0rem;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 10px rgba(255, 255, 255, .4);
    width: 20%;
  }
  header a {
  color: var(--primary-color);
  text-decoration: none;
  }
  header h1 a {
    padding: 3px 10px;
  }
  header nav {
    width: 60%
  }
  header nav ul {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  header nav ul li {
    margin: 5px auto 5px auto;
  }
  header nav ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px 7px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .4);
  }
  /* Provide hover background effects on the navigation items */
  header h1 a:hover {
    background-color: black;
    border-radius: 20px;
    text-shadow: none;
  }
  header nav ul li a:hover {
    background-color: black;
    border-radius: 20px;
    text-shadow: none;
  }
  img {
    border-radius: 15px;
  }
  footer {
    background: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 35px;
    width: 100%;
  }
  footer h4 {
    color: var(--tertiary-color);
    font-size: 1.0vw;
  }
  
  /********     Class Selectors     ********/
  /* Hero section to fill screen vertically upon loading based on screen height */
  .hero-section {
    align-items: center;
    background-image: url("../images/beach-sunrise.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 10px black;
  }
  .hero-title {
    justify-content: center;
    width: 75%;
  }
  .hero-title img {
    height: 150px;
    width: 150px;
  }
  .hero-title h1, .hero-title h2 {
    margin-top: 10px;
    justify-content: center;
  }

  /* Header rides the bottom of the hero until it sticks to top of screen */
  .sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  .header-icon {
    max-height: 25px;
    width: auto;
  }
  .section-title {
    border-bottom: 3px solid;
    font-size: 2.0rem;
    font-style: normal;
    padding-bottom: 10px;
    margin: 0 auto 75px auto;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 60%;
  }
  .bio-holder {
    width: 50%;
    justify-content: left;
    margin: 75px 10%;
    margin-left: 0;
  }
  .bio-section {
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  .de-emphasize {
    color: gray;
  }
  .bio-holder h2 {
    text-align: left;
    margin-left: 0;
    margin-bottom: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
  }
  .bio-holder p li {
    font-size: 1.4em;
    line-height: 1.5;
  }
  .bio-holder li {
    list-style-position: inside;
  }
  /* dividing elements to separate skills and experience in About Me */
  .divider {
    border-bottom: 1px solid black;
    margin: 30px 0;
    width: 40%;
  }
  /* Background effect styling different sections */
  .light-to-dark-section {
    background-image: linear-gradient(var(--primary-color),var(--secondary-color));
  }
  .dark-to-light-section {
    background-image: linear-gradient(var(--secondary-color),var(--primary-color));
  }
  /* Project technology information and positioning to land on image */
  .project-tech {
    color: white;
    position: absolute;
    height: 300px;
    top: 20px;
    left: 0;
    width: 300px;
  }
  .project-tech h3 {
    color: white;
    font-size: 28px;
    margin: 0 auto 30px auto;
    text-align: center;
    text-shadow: 0 0 8px black;
    width: 100%;
  }
  /* Hidden tech information to be revealed on hover */
  .project-tech p {
    color: white;
    font-size: 12px;
    margin: 10px auto 0 auto;
    text-align: center;
    text-shadow: 0 0 5px black;
    visibility: hidden;
    width: 100%;
  }
  .portfolio-image-article:hover img{
    transform: scale(1.5);
    transition-duration: .5s;
    border: 5px solid var(--tertiary-color);
    position: relative;
    z-index: 3;
  }
  .portfolio-image-article:hover .project-tech {
    visibility: visible;
    color: var(--tertiary-color);
    transform: scale(1.5);
    transition-duration: .5s;
    top: 30px;
    z-index: 5;
  }
  /* portofolio image sizing/positioning and animation on hover */
  .portfolio-image-article {
    margin: 10px;
    position: relative;
  }
  .portfolio-image {
    height: 300px;
    width: 300px;
    border: solid 1px var(--tertiary-color);
  }
  .portfolio-image-article:hover .project-tech p {
    visibility: visible;
    color: white;
    transform: scale(1.5);
    transition-duration: .5s;
    top: 30px;
    z-index: 5;
  }
  /* Contect section flexbox */
  .contact-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
  }
  .contact-icon-container {
    width: 20%;
  }
  .icon-image {
    max-height: 100px;
    margin: 0;
  }
  .contact-invite {
    margin-left: 10px;
    width: 40%;
  }
  .contact-invite a{
    text-decoration: none;
    width: 40%;
    margin-left: 10px;
    color: black;
  }
  .contact-invite a h3{
    margin-bottom: 10px;
  }
  /**********    ID Selectors     *******/
  #about-me {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-image: linear-gradient(var(--secondary-color),var(--primary-color)); */
    min-height: 100vh;
  }
  #contact-icon-holder {
    margin-right: 20px;
    margin-left: auto;
    width: 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
  }
  #contact-icon-holder a {
    padding: 3px;
  }
  #contact-icon-holder a img {
    min-width: 0;
    width: 100%;
    height: auto;
  }
  #image-holder {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 100px 10%;
    margin-right: 0;
  }
  #contact-icon-holder a:hover {
    background-color: black;
    border-radius: 15px;
  }
  #image-holder img {
    height: 200px;
    width: 200px;
  }
  #portfolio-gallery {
    min-height: 100vh;
  }
  #portfolio-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 95%;
    max-width: 975px;
    margin: 0 auto 0 auto;
  }
  #portfolio-image1 {
    width: 610px;
    height: 300px;
  }
  #contact-info {
    min-height: 100vh;
    padding-top: 100px;
    justify-content: center;
  }
  /*******    Media Queries     ********/

  @media screen and (max-width: 980px) {
   
  }

  @media screen and (max-width: 768px) {
    header nav ul li a {
        font-size: 1.25rem;
        font-weight: bold;
    }
    header nav ul {
      margin-right: 10%;
      /* margin: 0 0 0 10%; */
    }
    header h1 {
      margin: 0 0 0 10%;
      width: 30%;
    }
    header h1 a {
      font-size: 1.75rem;
      /* margin-left: auto;
      margin-right: auto; */
      width: auto;
    }
    /* .contact-flex-container {
      padding-top: 0;
    } */
    #image-holder {
        width: 100%;
        margin: 100px 20px 0px 20px;
      }
    .bio-holder {
        text-align: left;
        margin: 20px;
        width: 100%;
    }
    .bio-holder h2{
        text-align: center;
        margin: 20px auto;
    }
    #contact-icon-holder {
      visibility: hidden;
      position: absolute;
    }
    #portfolio-flexbox {
      margin-top: 50px;
    }
}

  @media screen and (max-width: 550px) {
    header nav ul li a {
      font-size: 1.0rem;
      font-weight: bold;
  }
  header nav ul {
    margin-right: 5%;
    /* margin: 0 0 0 10%; */
  }
  header h1 {
    margin: 0 0 0 5%;
    width: 30%;
  }
  header h1 a {
    font-size: 1.0rem;
    /* margin-left: auto;
    margin-right: auto; */
    width: auto;
  }
    .contact-icon-container {
      width: 100%;
      text-align: center;
    }
    .contact-invite {
      margin-left: 15%;
      margin-right: 15%;
      width: 100%;
    }
    .section-title {
      font-size: 20px;
      padding-top: 50px;
      margin-bottom: 50px;
    }
    .bio-holder h2 {
      font-size: 20px;
    }
    .bio-holder p {
      font-size: 16px;
    }
    .project-tech {
      visibility: visible;
      color: var(--tertiary-color);
      top: 30px;
      z-index: 5;
    }
    #portfolio-image1 {
      width: 300px;
      height: 300px;
    }
    .portfolio-image-article:hover .project-tech {
      visibility: visible;
      color: var(--tertiary-color);
      transform: scale(1.0);
      transition-duration: 0;
      top: 30px;
      z-index: 5;
    }
  .portfolio-image-article:hover .project-tech p {
    visibility: visible;
    color: white;
    transform: scale(1.0);
    transition-duration: .5s;
    top: 30px;
    z-index: 5;
}
  }
